.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*
 * FLEX
 */

 .no-flex-wrap {
  flex-wrap: nowrap;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &.no-wrap {
    flex-wrap: nowrap;
  }

  &.unwrap {
    flex-wrap: unset;
  }

  &.reverse {
    flex-wrap: wrap-reverse;
  }

  &.initial {
    flex-wrap: initial;
  }

  &.align-start {
    align-items: flex-start;
  }

  &.align-end {
    align-items: flex-end;
  }

  &.flex-col {
    flex-direction: column;
  }

  &.flex-row {
    flex-direction: row;
  }

  &.space, &.space-between {
    justify-content: space-between;
  }

  &.space-around {
    justify-content: space-around;
  }

  &.space-evenly {
    justify-content: space-evenly;
  }

  &.full-space {
    justify-content: space-between;
    width: 100%;
  }

  &.start {
    justify-content: flex-start;
  }

  &.end {
    justify-content: flex-end;
  }
}

.self-flex-grow {
  flex: 1;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.justify-self-start {
  justify-self: start;
}

.justify-self-end {
  justify-self: end;
}



/*
 * END FLEX
 */

 img.brand-img {
  height: 30px;
  width: 95px;
}

.dashboard-view {
  display: flex;
  width: 100%;
  align-items: stretch;

  div.container-top {
    width: 100%;
    padding: 0 17px;
  }

  .topbar {
    height: 80px;
  }

  .chart-container {
    height: 400px;
  }
}